<div class="cust-container" style="padding: 0px; margin: 10px 0px;">
    <section class="rev-mng-filter-panel h-100">
      <div class="row align-items-center h-100">
          <div class="col">
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ now | date : 'dd-MMMM-y | h:mm a' }}
          </div>
          <div class="col-sm-7 col-lg-5 h-100" style="padding: .3rem 16px;">
              <div class="form-row h-100 align-items-center">
                  <div class="col">
                      <input type="text" class="pull-right form-control"
                          [class.blocked]="openCounterList == null || openCounterList.length <= 0" placeholder="Search"
                          [(ngModel)]="filterSearchData" (ngModelChange)="changeSearchFilter($event)" />
                  </div>
                  <div class="col">
                      <div class="btn-group w-100" dropdown
                          [class.blocked]="openCounterList == null || openCounterList.length <= 0">
                          <button dropdownToggle type="button" class="btn btn-block btn-default dropdown-toggle"
                              aria-controls="paginate-count-menu">
                              {{pageItems}} entries<span class="caret"></span>
                          </button>
                          <ul id="paginate-count-menu" *dropdownMenu class="dropdown-menu" role="menu">
                              <li (click)="numPages({page: 1, itemsPerPage: 5})">
                                  <a class="dropdown-item point-cursor">5 entries</a>
                              </li>
                              <li (click)="numPages({page: 1, itemsPerPage: 10})">
                                  <a class="dropdown-item point-cursor">10 entries</a>
                              </li>
                              <li (click)="numPages({page: 1, itemsPerPage: 15})">
                                  <a class="dropdown-item point-cursor">15 entries</a>
                              </li>
                              <li (click)="numPages({page: 1, itemsPerPage: 20})">
                                  <a class="dropdown-item point-cursor">20 entries</a>
                              </li>
                              <!-- <perfect-scrollbar class="position-relative" [style.max-height.px]="250"
                                  [scrollIndicators]="true">
                                  <li role="menuitem" *ngFor="let employeeItem of hotelEmployeeData"
                                      (click)="bulkAssignedEmployee = employeeItem">
                                      <a class="dropdown-item">{{employeeItem.empName}}</a>
                                  </li>
                              </perfect-scrollbar> -->
                          </ul>
                      </div>
                  </div>
                  <div class="col-auto point-cursor" (click)="printData()"
                      [class.blocked]="openCounterList == null || openCounterList.length <= 0">
                      <img src="./assets/images/print-ico.png" alt="print"> <span
                          style="position: relative;top:2px;padding-left:4px;">Print</span>
                  </div>
              </div>
  
          </div>
      </div>
  </section>
    <div class="head-section">
      <div class="row head-row">
        <div
          class="inner-col-right-reduce"
          style="width: 50%; padding-left: 16px;"
        >
          <h5>Counter Management:Account Opening</h5>
        </div>
        
      </div>

    <div
      class="row body-row"
      [style.display]="isVisibleSave ? 'block' : 'none'"
    >
      <div class="col">
        <div class="card" style="padding: 10px 20px;">
          <div class="row">
            <div class="col-md-2 col-sm-6">
              <div class="form-group form-row">
                <div class="input-group date-cal">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                  <input
                    bsDatepicker
                    class="form-control"
                    id="open_date"
                    #dpend="bsDatepicker"
                    type="text"
                    [bsConfig]="bsConfigEnd"
                    placeholder="DD/MM/YYYY"
                    [(ngModel)]="openCounterData.date"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <select
                  class="form-control"
                  id="restaurant"
                  [(ngModel)]="openCounterData.restaurant"
                >
                  <option value="">select Restaurant</option>
                  <option
                    *ngFor="let restaurantType of restaurantTypeMaster"
                    value="{{ restaurantType.restaurantId }}"
                    >{{ restaurantType.restaurantName }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <label>Opening Balance:</label>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="opening_balance"
                  placeholder="Enter opening account here"
                  [(ngModel)]="openCounterData.openingBal"
                />
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <button
                  class="btn btn-normal ml-0"
                  type="button"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle2"
                  [popoverMessage]="popoverMessage2"
                  [confirmText]="confirmText1"
                  [cancelText]="cancelText1"
                  placement="right"
                  (confirm)="openCounterAdd()"
                  (cancel)="cancelClicked = true"
                  confirmButtonType="coninfo"
                  cancelButtonType="light"
                >
                  <i
                    class="fa fa-plus"
                    aria-hidden="true"
                    style="color: #fff;"
                  ></i>
                  Save</button
                >&nbsp;
                <button
                  class="btn btn-normal ml-0"
                  type="button"
                  (click)="clearSearch()"
                >
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="body-section cust-container" style="padding: 0;">
  <div class="row body-row" [style.display]="isVisibleList ? 'block' : 'none'">
    <div class="table-responsive" id="tableDiv">
      <div class="divDisplayTable">
        <div class="divDisplayTableRow" id="tableHeaderRow">
          <div class="divDisplayTableCell head text-center" style="width: 10%;">
            SL. NO.
          </div>
          <div class="divDisplayTableCell head text-center" style="width: 15%;">
            Date
          </div>
          <div class="divDisplayTableCell head text-center" style="width: 25%;">
            Counter Description
          </div>
          <div class="divDisplayTableCell head text-center" style="width: 15%;">
            Opening Balance
          </div>
          <div class="divDisplayTableCell head text-center" style="width: 15%;">
            Status
          </div>
          <!-- <div class="divDisplayTableCell head text-center" style="width: 15%;">
            Action
          </div> -->
        </div>
      </div>

      <perfect-scrollbar
        *ngIf="
          openCounterList != null && openCounterList.length > 0;
          else noDataBody
        "
        class="scroll-container position-relative"
        [style.max-height.px]="302"
        [scrollIndicators]="true"
      >
        <div class="divDisplayTable mb-1">
          <div
            class="divDisplayTableRow"
            *ngFor="let item of paginateBookingList; let i = index"
          >
            <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 10%;"
            >
              {{ item.slNo }}
            </div>
            <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 15%;"
            >
              {{ item.businessDate }}
            </div>
            <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 25%;"
            >
              {{ item.restaurantName }}
            </div>
            <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 15%;"
            >
              {{ item.openingBal }}
            </div>
            <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 15%;"
            >
              {{ item.status }}
            </div>
            <!-- <div
              class="divDisplayTableCell brdLft text-center"
              style="width: 15%;"
            >
              <div class="d-inline-block point-cursor">
                <button
                  class="btn btn-default"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="deleteOpenCounter(item.counterId)"
                  (cancel)="cancelClicked = true"
                  confirmButtonType="coninfo"
                  cancelButtonType="light"
                >
                  <img src="./assets/images/delete.png" alt="create amenity" />
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </perfect-scrollbar>

      <ng-template #noDataBody>
        <div class="divDisplayTable">
          <div
            class="divDisplayTableRow"
            *ngIf="openCounterList != null && openCounterList.length == 0"
          >
            <div class="divDisplayTableCell text-center" style="width: 100%;">
              No Data Found
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row justify-content-center mt-3" *ngIf="openCounterList != null">
    <div class="col-auto mx-auto text-center" *ngIf="openCounterList.length">
        <pagination [totalItems]="openCounterList.length" [(ngModel)]="currentPage" [boundaryLinks]="true"
            [maxSize]="5" [itemsPerPage]="pageItems" previousText="&lsaquo;" firstText="&laquo;"
            lastText="&raquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>
</div>
<div class="printSection" id="printSection" style="display: none;">
  <table border="1" style="width: 100%; border-collapse: collapse">
      <tr>
          <!-- <td style="width:4%; text-align: center;">#</td> -->
          <td style="width:15%; text-align: center;">SL. NO.</td>
          <td style="width:20%; text-align: center;">Date</td>
          <td style="width:25%; text-align: center;">Counter Description</td>
          <td style="width:20%; text-align: center;">Opening Balance</td>
          <td style="width:20%; text-align: center;">Status</td>
          
      </tr>
      <tr *ngFor="let item of openCounterList; let i = index;">
          <!-- <td style="width:4%; text-align: center;">{{i+1}}</td> -->
          <td style="width:15%; text-align: center;">{{i+1}}</td>
          <td style="width:20%; text-align: center;">{{ item.businessDate }}</td>
          <td style="width:25%; text-align: center;">
            {{ item.restaurantName }}
          </td>
          <td style="width:20%; text-align: center;">{{ item.openingBal }}</td>
          <td style="width:20%; text-align: center;">{{ item.status }}</td>
         
      </tr>
  </table>
</div>
<ng4-loading-spinner
  [timeout]="1300000"
  [loadingText]="'Please wait...'"
></ng4-loading-spinner>
